
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title title wow fadeIn" data-wow-offset="100"><mark>Отзывы</mark> <span>о SugaNorm</span></div>
            <div class="commits__slide owl-carousel">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__description">
                        Почти 10 лет назад мне поставили диабет 2-го типа. Моя жизнь изменилась в худшую сторону. Постоянная усталость, жажда, царапина от кошки могла заживать месяцами… Еще и проблемы с сердцем появились. <mark>Я лечилась долго, но только SugaNorm помог снизить уровень сахара и удерживать нормальный показатель. Начав принимать его я почувствовала себя гораздо лучше.</mark> Через неделю пропала сухость во рту, я стала лучше спать и чувствовать себя более энергичной. Постепенно сахар пришел в норму. Уже полгода анализ на сахар не показывает больше 4,6 ммоль.
                        <div class="commits__name">
                            Jean Dawson,
                            <div class="commits__age">50 лет</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__description">
                        Почти 10 лет назад мне поставили диабет 2-го типа. Моя жизнь изменилась в худшую сторону. Постоянная усталость, жажда, царапина от кошки могла заживать месяцами… Еще и проблемы с сердцем появились. <mark>Я лечилась долго, но только SugaNorm помог снизить уровень сахара и удерживать нормальный показатель. Начав принимать его я почувствовала себя гораздо лучше.</mark> Через неделю пропала сухость во рту, я стала лучше спать и чувствовать себя более энергичной. Постепенно сахар пришел в норму. Уже полгода анализ на сахар не показывает больше 4,6 ммоль.
                        <div class="commits__name">
                            Jean Dawson,
                            <div class="commits__age">50 лет</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__description">
                        Почти 10 лет назад мне поставили диабет 2-го типа. Моя жизнь изменилась в худшую сторону. Постоянная усталость, жажда, царапина от кошки могла заживать месяцами… Еще и проблемы с сердцем появились. <mark>Я лечилась долго, но только SugaNorm помог снизить уровень сахара и удерживать нормальный показатель. Начав принимать его я почувствовала себя гораздо лучше.</mark> Через неделю пропала сухость во рту, я стала лучше спать и чувствовать себя более энергичной. Постепенно сахар пришел в норму. Уже полгода анализ на сахар не показывает больше 4,6 ммоль.
                        <div class="commits__name">
                            Jean Dawson,
                            <div class="commits__age">50 лет</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
