
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title title wow fadeIn" data-wow-offset="100"><mark>Отзывы</mark> <span>о SugaNorm</span></div>
            <div class="commits__slide owl-carousel">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__description">
                        Почти 10 лет назад мне поставили диабет 2-го типа. Моя жизнь изменилась в худшую сторону. Постоянная усталость, жажда, царапина от кошки могла заживать месяцами… Еще и проблемы с сердцем появились. <mark>Я лечился долго, но только SugaNorm помог снизить уровень сахара и удерживать нормальный показатель. Начав принимать его, я почувствовал себя гораздо лучше.</mark> Через неделю пропала сухость во рту, я стал лучше спать и чувствовать себя более энергичным. Постепенно сахар пришел в норму. Уже полгода анализ на сахар не показывает больше 4,6 ммоль.
                        <div class="commits__name">
                            Ryan Clark
                            <div class="commits__age">50 лет</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__description">
                        После 40 лет у меня диагностировали диабет. Я очень рада, что наши ученые смогли сделать препарат, который не просто временно снижает сахар, а способствует лечению заболевания. Я боролась с ним очень долго и мне было мучительно тяжело придерживаться диеты, которая не особо помогала. SugaNorm помог мне. Вот уже более года мой сахар в норме. Чувствую себя отлично, даже вес начал падать, так как обмен веществ наладился.
                        <div class="commits__name">
                            Melinda Malone
                            <div class="commits__age">62 года</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__description">
                        Много лет лечился от диабета. Сахар в крови постоянно скакал от 5,5 до 15. Хотя я и соблюдал диеты и все назначения врача. Из-за этого приходилось пить таблетки горстями, а сейчас практически не пью их. После курса SugaNorm ушла усталость и сонливость, сахар в крови пришел в норму. Я даже стал забывать проверять его. Чувствую себя здоровым и нормальным человеком.
                        <div class="commits__name">
                            Simon Tucker
                            <div class="commits__age">47 лет</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
