<section class="section section_danger">
    <div class="container">
        <div class="danger">
            <div class="danger__title">
                <div>При диабете II типа организм вырабатывает</div>
                <div>инсулин в достаточном количестве,</div>
                <mark>
                    <div>но мышечная ткань не воспринимает его,</div>
                    <div class="danger__title-line">и в результате <span>случается инсулиновый голод</span></div>
                </mark>
            </div>
            <div class="danger__body">
                <div class="danger__causes">
                    <div class="danger__causes-title">Причины:</div>
                    <div class="danger__causes-box">
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-1.png" alt="">
                            <span>Возраст</span>
                        </div>
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-2.png" alt="">
                            <span>Хронические заболевания</span>
                        </div>
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-3.png" alt="">
                            <span>Лишний вес</span>
                        </div>
                    </div>
                    <div class="danger__causes-footer">
                        Генетическая предрасположенность
                    </div>
                </div>
                <div class="danger__list">
                    <div class="danger__list-title">осложнения</div>
                    <div class="danger__list-item">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Невропатия
                    </div>
                    <div class="danger__list-item">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Поражение ног
                    </div>
                    <div class="danger__list-item">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Кожные болезни
                    </div>
                    <div class="danger__list-item">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Высокий сахар в крови
                    </div>
                    <div class="danger__list-item">
                        <div class="danger__list-icon">
                            <img src="../media/danger/!.png" alt="">
                        </div>
                        Сердечно-сосудистые заболевания
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
