
<section class="section section_defender">
    <div class="container">
        <div class="defender">
            <div class="defender__title title"><mark>Ученые научились блокировать ген,</mark> <span>отвечающий за развитие диабета</span></div>
            <div class="defender__list">
                <div class="defender__list-doctor"><img src="../media/defender/doctor.jpg" alt=""></div>
                <div class="defender__lixt-box">
                    <div class="defender__item">Без генетической предрасположенности невозможно заболеть диабетом. Генетики из университета в Миннесоте сделали открытие, что ген PFKFB3 – основной регулятор метаболизма и играет ключевую роль в процессе развития диабета.</div>
                    <div class="defender__item">Дальнейшие исследования ученых доказали: <mark>профилактика и окончательное избавление от диабета возможна при помощи генной терапии.</mark> Этот метод был тщательно исследован и подвержен клинически.</div>
                    <div class="defender__item">В основе лечения лежит терапия, основанная на натуральных компонентах, которые ученые объединили в препарате <mark>SugaNorm</mark>.</div>
                    <div class="defender__item">Препарат на генетическом уровне блокирует повышение сахара в крови и нормализует выработку инсулина, помогая организму его усваивать. </div>
                </div>
            </div>
            <div class="defender__product"><img src="../media/defender/product.png" alt=""></div>
        </div>
    </div>
</section>
