<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">Средство <span>от диабета №1</span></div>
                <div class="face__pride">
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-1.png" alt="">
                        </div>
                        <div>Снижает сахар <span>до нормы</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-2.png" alt="">
                        </div>
                        <div>Товар года <span>2019</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-3.png" alt="">
                        </div>
                        <div>Одобрено ведущими <span>эндокринологами Европы</span></div>
                    </div>
                </div>
            </div>

            <div class="face__body">
                <div class="face__box">
                    <div class="face__title title title_line"><span>Sug<mark>aNorm</mark></span> – правильн<mark>ое лечение диабета</mark></div>
                    <div class="face__list">
                        <div class="face__item">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Cнижает</mark> уровень сахара,
                                <span><mark>помогаетa</mark> усваивать инсулин </span>
                            </div>
                        </div>
                        <div class="face__item">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Предупреждает</mark> гипогликемию,
                                <span><mark>повышает</mark> иммунитет</span>
                            </div>
                        </div>
                        <div class="face__item">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Нормализует</mark> обмен веществ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="face__product"><img src="../media/face/product.png" alt=""></div>
                <div class="face__box">
                    <div class="face__form">
                        <div class="face__form-price">цена со <br> скидкой: <span>990₽</span></div>
                        <div class="face__form-achievement">
                            <div>
                                Прорыв в эндокринологии <span>2020 года</span>
                            </div>
                        </div>
                        <div class="face__form-head">
                            <div class="face__form-name">Скидка на первый заказ:</div>
                            <div class="face__form-discount">-50%</div>
                        </div>
                        <div class="face__form-body">
                            <div class="face__form-label">
                                <select class="face__form-field face__form-select">
                                    <option selected></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Имя</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Телефон</span>
                            </div>
                            <div class="face__count">
                                <div class="face__count-name">до конца акции:</div>
                                <div class="face__count-box">
                                    <div class="face__count-time"><span>00</span><span>часов</span></div>
                                    <div class="face__count-time"><span>00</span><span>минут</span></div>
                                    <div class="face__count-time"><span>00</span><span>секунд</span></div>
                                </div>
                            </div>
                            <button class="face__form-btn btn">Купить <span>SugaNorm</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
