<footer class="section section_footer footer">
    <div class="container">
        <div class="footer__box">
            <p class="footer__leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a></p>
        </div>
    </div>
</footer>
