<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Что такое мета теги и для чего они нужны">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="мета теги, meta, мета теги для seo">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="META теги">
    <!-- описание страницы -->
    <meta property="og:description" content="Описание страницы про META теги">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Фрилансер по жизни">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Имя/логин автора -->
    <meta name="twitter:site" content="Жека">
    <!-- Название страницы -->
    <meta name="twitter:title" content="META теги">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="про META теги">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>
