<section class="section section_information">
    <div class="container">
        <div class="information">
            <div class="information__title title"><mark>Что нужно знать</mark> <span>о диабете?</span></div>
            <div class="information__body">
                <div class="information__product">
                    <div class="information__border"><div>Прорыв в эндокринологии <span>2020 года</span></div></div>
                    <div class="information__price">цена со скидкой: <span>990₽</span></div>
                    <img src="../media/information/product.png" alt="">
                </div>
                <div class="information__list">
                    <div class="information__item">
                        <div class="information__item-media">
                            <img src="../media/information/icon-1.png" alt="">
                        </div>
                        <div class="information__item-info">
                            Стимулирует выработку инсулина,
                            помогает усваивать глюкозу и снижает сахар до нормы. <mark>Нормализует вес
                                и липидный обмен.</mark> Обладает гипогликемическим эффектом.
                        </div>
                    </div>
                    <div class="information__item">
                        <div class="information__item-media">
                            <img src="../media/information/icon-2.png" alt="">
                        </div>
                        <div class="information__item-info">
                            <mark>Налаживает обменные процессы,</mark> предотвращает нарушение функций поджелудочной и щитовидной желез.
                        </div>
                    </div>
                    <div class="information__item">
                        <div class="information__item-media">
                            <img src="../media/information/icon-3.png" alt="">
                        </div>
                        <div class="information__item-info">
                            <mark>Снижает риск сердечно-сосудистых заболеваний</mark> и почечной недостаточности
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
