
<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__title title wow fadeIn" data-wow-offset="100"><mark>Что нужно знать</mark> <span>о диабете?</span></div>
            <div class="info__sub-title">Основными симптомами диабета считаются:</div>
            <div class="info__box">
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-1.png" alt=""></div>
                    <figcaption class="info__item-description">СУХОСТЬ <span>ВО РТУ И</span> ПОСТОЯННАЯ ЖАЖДА</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-2.png" alt=""></div>
                    <figcaption class="info__item-description">ПОВЫШЕННЫЙ АППЕТИТ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-3.png" alt=""></div>
                    <figcaption class="info__item-description">БЫСТРАЯ УТОМЛЯЕМОСТЬ, СОНЛИВОСТЬ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-4.png" alt=""></div>
                    <figcaption class="info__item-description">УЧАЩЕННОЕ МОЧЕИСПУСКАНИЕ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-5.png" alt=""></div>
                    <figcaption class="info__item-description"><span>ЗУД И ПЛОХАЯ</span> РЕГЕНЕРАЦИЯ КОЖИ</figcaption>
                </figure>
            </div>
            <div class="info__alert">
                <div class="info__alert-icon"><img src="../media/info/alert.png" alt=""></div>
                <div class="info__alert-description">
                    <div class="info__alert-bd">
                        Сахарным диабетом страдают более 385 миллионов
                        человек в возрасте от 20 до 80 лет.
                        <span>Но более 80% людей даже не подозревают
                            о своем заболевании.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
