
<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="job__title title"><mark>Как работает SugaNorm?</mark></div>
            <div class="job__body">
                <div class="job__box">
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-1.png" alt="">
                        </div>
                        <div class="job__name">Экстракт корицы</div>
                        <div class="job__description">
                            Восстанавливает чувствительность ткани к инсулину и позволяет контролировать уровень сахара в крови.
                            <span><mark>Предотвращает нарушение углеводного обмена, снижает уровень холестерина в крови.</mark></span>
                        </div>
                    </div>
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-2.png" alt="">
                        </div>
                        <div class="job__name">Экстракт шелковицы</div>
                        <div class="job__description">
                            <mark>Регулирует уровень сахара в крови,</mark> налаживает выработку и усвоение инсулина в организме. Нормализует давление и увеличивает проходимость мелких сосудов.
                        </div>
                    </div>
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-3.png" alt="">
                        </div>
                        <div class="job__name">хром</div>
                        <div class="job__description">
                            Снижает уровень холестерина в крови и риск сердечно-сосудистых заболеваний. <mark>Поддерживает нормальный уровень глюкозы и ускоряет обмен веществ.</mark>
                        </div>
                    </div>
                </div>
                <div class="job__product"><img src="../media/job/product.png" alt=""></div>
                <div class="job__footer">
                    <div class="job__btn btn">Купить <span>SugaNorm</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
