
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title title"><mark>Комментарий диетолога</mark></div>
            <div class="professional__info">
                <div class="professional__media"><img src="../media/professional/human.png" alt=""></div>
                <div class="professional__content">
                    <p>До появления препарата SugaNorm, диабет сложно поддавался <span>лечению. Сахароснижающие лекарства и диета помогали</span> поддерживать нужный уровень глюкозы в крови, а вспомогательные <span>препараты усваивать инсулин. Но такие средства имеют
                        большое</span> количество побочных эффектов и их необходимо принимать всю <span>жизнь. Также, постоянная корректировка дозировки часто приводила</span> к отмене препарата, так как он переставал действовать.
                        <b><span>SugaNorm позволяет иммунным клеткам вырабатывать</span>
                            в должном количестве гормон инсулин</b>, а также помогать <span>поджелудочной железе воспринимать его. За счет этого</span> восстанавливаются обменные процессы и диабетики
                        <span>избавляется от заболевания.</span></p>
                    <p>
                        Я активно использую в своей практике препарат
                        <span>SugaNorm и статистика поражает. <b>У 10 из 10 больных</span>
                            после курса лечения наблюдается положительная
                            <span>динамика со значительным снижением</span>
                            уровня глюкозы в крови.</b>
                    </p>
                </div>
                <div class="professional__footer">
                    <div class="professional__name">
                        доктор медицинских наук, <span>врач-эндокринолог</span> Thomas Shields
                    </div>
                    <div class="professional__id">
                        <img src="../media/professional/id.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
