
.face {
    position: relative;
}

.face__head {
    display: flex;
    margin-bottom: 40px;
}

.face__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    & span {
        display: block;
    }
}

.face__pride {
    display: flex;
    margin-left: auto;
}

.face__pride-item {
    display: flex;
    font-size: 14px;
    font-weight: 700;

    & + & {
        margin-left: 60px;
    }

    & span {
        display: block;
    }
}

.face__pride-icon {
    margin-right: 10px;
}

.face__body {
    display: flex;
    justify-content: space-between;
}

.face__title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    color: #646ba3;

    & mark {
        color: #646ba3;
    }

    & span {
        display: block;
        font-size: 72px;

        & mark {
            &::before {
                bottom: 12px;
            }
        }
    }
}

.face__item {
    display: flex;
    align-items: center;
    font-size: 18px;

    & + & {
        margin-top: 5px;
    }

    & mark {
        font-weight: 700;
        color: #3b9e8a;
    }

    & span {
        display: block;
    }
}

.face__box-icon {
    margin-right: 15px;
}

.face__product {
    position: absolute;
    bottom: -120px;
    left: -60px;
    z-index: 1;

    &::before {
        position: absolute;
        right: -155px;
        bottom: -29px;
        width: 301px;
        height: 176px;
        content: '';
        background-image: url("../media/face/berries.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        position: absolute;
        bottom: 36px;
        left: -36px;
        z-index: -1;
        width: 208px;
        height: 122px;
        content: '';
        background-image: url("../media/face/berries-2.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.face__form {
    position: relative;
    width: 390px;
    padding-bottom: 40px;
    background-color: #fff;
}

.face__form-price {
    position: absolute;
    top: 150px;
    left: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 162px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-image: url("../media/face/price.png");
    background-repeat: no-repeat;
    background-size: cover;

    & span {
        margin-top: 15px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.face__form-achievement {
    position: absolute;
    top: 333px;
    left: -220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 119px;
    font-size: 14px;
    color: #646ba3;
    text-align: center;
    background-image: url("../media/face/achievement.png");
    background-repeat: no-repeat;
    background-size: cover;

    & span {
        display: block;
        font-size: 24px;
        font-weight: 700;
    }

    & > div {
        transform: rotate(7deg);
    }
}

.face__form-head {
    position: relative;
    padding-top: 22px;
    padding-right: 130px;
    padding-bottom: 45px;
    padding-left: 60px;
    margin-bottom: 10px;
    background-image: url("../media/face/form-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

.face__form-name {
    font-size: 18px;
    font-weight: 700;
    color: #3b9e8a;
    text-transform: uppercase;
}

.face__form-discount {
    position: absolute;
    top: 0;
    right: 38px;
    width: 71px;
    height: 55px;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
    text-align: center;
    background-image: url("../media/face/flag.png");
    background-repeat: no-repeat;
}

.face__form-rice-box {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: "";
        background-color: red;
    }
}

.face__price-new {
    padding: 5px;
    margin-right: 50px;
    text-align: center;
    border: 1px dashed #fff;

    & span {
        display: block;
        color: #fff;

        &:first-child {
            margin-bottom: 5px;
            font-weight: 500;
        }

        &:last-child {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.face__price-old {
    position: relative;
    text-align: center;

    &::before {
        position: absolute;
        top: 50%;
        left: -10px;
        width: calc(100% + 20px);
        height: 2px;
        content: "";
        background-color: #fff;
        transform: rotate(-15deg);
    }

    & span {
        display: block;
        font-size: 14px;
        color: #fff;

        &:first-child {
            margin-bottom: 2px;
            font-weight: 500;
        }

        &:last-child {
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.face__form-body {
    max-width: 298px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.face__form-label {
    position: relative;
    margin-bottom: 31px;

    & span {
        position: absolute;
        top: 0;
        left: 0;
        color: #999;
        transition: .3s transform;
        transform: translate(20px, 18px);
    }
}

.face__form-field {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 50px;

    &:focus {
        outline: none;
    }

    &_focus {
        & + span {
            transform: translate(20px, -20px);
        }
    }
}

.face__form-select {
    appearance: none;
    background-image: url("../media/face/arrow.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.face__count {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.face__count-name {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.face__count-box {
    display: flex;
    justify-content: center;
}

.face__count-time {
    position: relative;
    font-size: 36px;
    font-weight: 700;

    & + & {
        margin-left: 30px;

        &::before {
            position: absolute;
            top: -2px;
            left: -19px;
            content: ':';
        }
    }

    & span {
        display: block;
        text-align: center;

        &:last-child {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

@media (max-width: 1054px) {
    .face__logo {
        font-size: 20px;
    }

    .face__pride-item {
        & + & {
            margin-left: 15px;
        }
    }

    .face__title {
        font-size: 30px;

        & span {
            font-size: 50px;
        }
    }

    .face__form {
        max-width: 300px;
    }

    .face__form-head {
        padding-right: 15px;
        padding-left: 15px;
    }

    .face__form-name {
        max-width: 160px;
        font-size: 16px;
    }

    .face__form-discount {
        right: 0;
    }

    .face__product {
        max-width: 400px;
    }

    .face__count {
        position: static;
        margin-bottom: 30px;
        transform: translateX(0);
    }

    .face__form-price {
        top: 320px;
        left: -400px;
    }
}

@media (max-width: 768px) {
    .face__head {
        flex-wrap: wrap;
    }

    .face__logo {
        margin-bottom: 15px;
    }

    .face__pride-item {
        & + & {
            margin-left: 10px;
        }
    }

    .face__list {
        margin-bottom: 30px;
    }

    .face__item {
        font-size: 16px;
    }

    .face__body {
        flex-direction: column;
    }

    .face__form {
        width: 100%;
        max-width: none;
        padding-top: 162px;
        background-color: transparent;
    }

    .face__title {
        font-size: 24px;

        & span {
            font-size: 40px;
        }

        &.title {
            & mark {
                &::before {
                    bottom: 3px;
                    height: 10px;
                }
            }
        }
    }

    .face__form-head {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 0;
        background-color: #dcf6dd;
        background-image: none;
    }

    .face__form-name {
        max-width: none;
    }

    .face__form-rice-box {
        margin-bottom: 0;
    }

    .face__product {
        position: relative;
        bottom: auto;
        left: auto;
        margin-bottom: 50px;
    }

    .face__form-price {
        top: 0;
        left: 0;
        z-index: 1;
    }

    .face__form-achievement {
        top: 30px;
        right: 30px;
        left: auto;
    }

    .face__form-body {
        width: 100%;
        max-width: none;
        padding-top: 30px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        background-color: #fff;
    }

    .face__form-btn {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .face__pride {
        flex-direction: column;
        margin-left: 0;
    }

    .face__logo {
        width: 100%;
        text-align: center;
    }

    .face__pride-item {
        & + & {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    .face__product {
        margin-bottom: 25px;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .face__form-price {
        width: 115px;
        height: 116px;
        font-size: 14px;

        & span {
            margin-top: 5px;
            font-size: 26px;
        }
    }

    .face__form-achievement {
        top: 15px;
        right: 0;
        width: 146px;
        height: 89px;
        font-size: 12px;

        & span {
            font-size: 18px;
        }
    }

    .face__form {
        padding-top: 120px;
    }

    .face__form-name {
        max-width: 135px;
        font-size: 14px;
    }

    .face__form-body {
        padding-right: 25px;
        padding-left: 25px;
    }
}
